@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Özel Scrollbar Tasarımı */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #fff7ed; /* orange-50 */
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #fdba74; /* orange-300 */
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #fb923c; /* orange-400 */
  }
}
